{% extends "blog/base.html" %}

{% block title %}Новый пароль{% endblock title %}

{% block content %}
    {% if validlink %}
        <h1>Установите новый пароль!</h1>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p style="color: red">{{ error|escape }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" value="Изменить пароль">
        </form>
    {% else %}
        <p>
            Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите
            <a href="{% url 'password_reset' %}">сброс</a>
            пароля повторно.
        </p>
    {% endif %}
{% endblock content %}