{% extends "blog/base.html" %}

{% block title %}Забыли пароль?{% endblock title %}

{% block content %}
    <h1>Забыли пароль?</h1>
    <p>Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового пароля.</p>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text|safe }}</small>
                {% endif %}
                {% for error in field.errors %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error|escape }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p style="color: red">{{ error|escape }}</p>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Отправить письмо">
    </form>
{% endblock content %}