{% extends "blog/base.html" %}
{% load plural_rename blog_tags %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Опубликовано {{ post.publish }} пользователем {{ post.author }}
    </p>
    {{ post.body|markdown|safe }}
    <h2>Схожие посты</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        Подобных постов пока нет.
    {% endfor %}
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments|ru_plural:"комментарий,комментария,комментариев" }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Комментарий {{ forloop.counter }} от {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|safe}}
        </div>
    {% empty %}
        <p>Нет комментариев.</p>
    {% endfor %}
    {% include "blog/post/includes/comment_form.html" %}
{% endblock content %}